tp_1_server/src/main/resources/Auteur.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="Livre.xsd" />

  <xs:element name="Auteur" type="auteur"/>
  <xs:complexType name="auteur">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="nom" type="xs:string" minOccurs="0"/>
      <xs:element name="prenom" type="xs:string" minOccurs="0"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="livres" type="livre" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

